body{
  margin-left: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  }

.header {
  float: left;
  /* text-align: Left; */
  /* background-image: url("./sky-banner.jpg"); */
  /* background-size: 100%; */
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-left: 60px;
}

.navbar {
  overflow: hidden;
  padding-top: 30px;
  margin-right: 60px;
}

.navbar a {
  float: right;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navbar a:hover{
  color: rgb(109, 109, 109);
  border-bottom: 2px solid black;
}

.navbar a.active {
  border-bottom: 2px solid black;
}

table {
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid black;
  border-collapse: collapse;
  margin:60px;
  margin-top:30px;
}

th{
  background-color: white;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

th:nth-child(3) {
  width:200px;
}
th:nth-child(4) {
  width:600px;
}
th:nth-child(5) {
  width:500px;
}