    body{
        font-family: Varela Round, Optima, Arial, Helvetica, sans-serif;
		margin:10px;
		background-color: rgb(255, 255, 255);
    }
    
    /* Table */

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: solid black 1px;
        box-shadow: 3px -3px 4px 2px rgb(182, 181, 181);
    }   
    
    th {
        text-align: center;
        padding: 10px;
        border: solid black 1px;
        cursor: pointer;
    }

    td{
        text-align: left;
        padding: 10px;
        border: solid black 1px; 
    }
    
    tr:nth-child(even) {
        background-color: #5eb1e8a3;
    }

    .alert {
      padding: 20px;
      margin-bottom: 20px;
      background-color: #54a8f2;
      color: white;
      box-shadow: 3px -3px 4px 2px rgb(182, 181, 181);
    }
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }